html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/*normalize css */
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
  color: #515151;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Kurale';
  src: url('../fonts/Kurale-Regular.eot');
  src: local('☺'), url('../fonts/Kurale-Regular.woff') format('woff'), url('../fonts/Kurale-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-semi';
  src: url('../fonts/MyriadPro-Semibold.eot');
  src: local('☺'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 15px;
}
a,
button,
input,
textarea,
.js-svg {
  -webkit-transition: background .2s, border .2s, color .2s;
  -o-transition: background .2s, border .2s, color .2s;
  transition: background .2s, border .2s, color .2s;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.btn {
  background-color: #ed2026;
  color: #fff;
  padding: 9px 25px;
  display: inline-block;
  cursor: pointer;
  border: none;
  border: 1px solid #ed2026;
}
.btn:hover {
  background-color: #e31b24;
  border: 1px solid #e31b24;
}
.btn--second {
  background-color: #fff;
  color: #515151;
}
.btn--second:hover {
  background-color: #e31b24;
  color: #fff;
}
.header {
  overflow: hidden;
}
.header-top {
  height: 50px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.logo {
  float: left;
  margin-top: 6px;
  margin-right: 31px;
}
.slogan {
  float: left;
  margin-top: 16px;
}
.header-bot {
  height: 55px;
  overflow: hidden;
  background-color: #e31b24;
}
.slogan {
  float: left;
  position: relative;
}
.slogan:after {
  content: "";
  position: absolute;
  right: -280px;
  background-color: #e8e8e8;
  height: 1px;
  width: 200px;
  top: 10px;
  display:none;
}
.zaved-nav__li {
  float: left;
  margin-right: 25px;
}
.zaved-nav__li--active a:after {
  content: "";
  bottom: 0;
  background-color: #fff;
  left: 0;
  right: 0;
  height: 3px;
  position: absolute;
}
.zaved-nav__li:hover > a {
  text-decoration: underline;
}
.zaved-nav__li > a {
  color: #fff;
  font-size: 16px;
  font-size: 13px;
  height: 55px;
  line-height: 55px;
  font-weight: bold;
  display: block;
  position: relative;
  text-transform: uppercase;
}
.zaved-nav:after {
  content: "";
  clear: both;
}
.main-part {
  position: relative;
  margin-bottom: 110px;
}
.main-slider {
  height: 500px;
  max-width: 1900px;
  margin: 0 auto;
}
.main-slider__part {
  background-image: url(../img/Grammy1.jpg);
  background-position: center;
  height: 500px;
}
.main-slider__part .inner {
  position: relative;
  height: 500px;
}
.m-arrow {
  position: absolute;
  top: 210px;
  color: #fff;
  font-size: 22px;
  font-family: 'Kurale';
}
.m-arrow:after {
  content: "";
  position: absolute;
  top: 17px;
  width: 80px;
  height: 1px;
  background-color: #fff;
}
.m-arrow--left {
  left: 0;
}
.m-arrow--left:after {
  left: -95px;
}
.m-arrow--right {
  right: 0;
}
.m-arrow--right:after {
  right: -95px;
}
.center-part {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 266px;
}
.center-part__top {
  height: 45px;
  border: 2px solid #fff;
  border-bottom: transparent;
  margin-bottom: 10px;
}
.center-part__bot {
  height: 45px;
  border: 2px solid #fff;
  border-top: transparent;
  margin-top: 8px;
}
.center-part__bot .btn {
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -86px;
}
.center-part__text {
  position: relative;
  display: block;
  font-family: 'Kurale';
  height: 60px;
  margin-bottom: 4px;
}
.center-part__text span {
    color: #fff;
    text-transform: uppercase;
    font-size: 53px;
    line-height: 53px;
    text-align: center;
    position: absolute;
    width: 600px;
    left: -150px;
    height: 65px;
    overflow: hidden;
}
.right-search {
  float: right;
  margin-top: 12px;
}
.right-search--events .right-search__input {
  border: 1px solid #ccc;
}
.right-search__input {
  float: left;
  border: none;
  background-color: #fff;
  width: 180px;
  height: 31px;
  padding: 0 10px;
}
.right-search__submit {
  background-color: red;
  background-image: url(../img/search-right.svg);
  background-position: center;
  height: 31px;
  border: 1px solid #fff;
  background-size: 16px;
  width: 34px;
  font-size: 0;
  background-repeat: no-repeat;
}
.city-select {
  float: right;
  color: #515151;
  margin-top: 15px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  padding-left: 20px;
  overflow:hidden;
}
.city-select:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background-image: url(../img/h-map.png);
  width: 10px;
  height: 13px;
}
.city-select__left {
  float: left;
}
.city-select__part {
  float: right;
  margin-left: 6px;
  position: relative;
}
.city-select__part:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}
.city-select__part span {
  text-decoration: underline;
}
.city-select--active .city-lines {
  height: 20px;
  background-color: #fff;
  opacity: 1;
}
.right-nav {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
  display:none;
}
.right-nav li {
  float: left;
  margin-right: 10px;
}
.right-nav li a {
  color: #515151;
}
.right-nav li a:hover {
  text-decoration: underline;
}
.mob-menu {
  position: relative;
  float: right;
  width: 24px;
  height: 25px;
  cursor: pointer;
  margin-top: 16px;
  z-index: 3;
  display: none;
}
.mob-menu span {
  position: absolute;
  left: 50%;
  -webkit-transition: all 290ms ease-in-out;
  -moz-transition: all 290ms ease-in-out;
  -o-transition: all 290ms ease-in-out;
  -ms-transition: all 290ms ease-in-out;
  transition: all 290ms ease-in-out;
  display: block;
  opacity: 1;
  width: 25px;
  height: 2px;
  background-color: #fff;
}
.mob-menu span:nth-of-type(1) {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
  -moz-transform: translate(-50%, 0) rotate(0deg);
  -ms-transform: translate(-50%, 0) rotate(0deg);
  -o-transform: translate(-50%, 0) rotate(0deg);
  transform: translate(-50%, 0) rotate(0deg);
}
.mob-menu span:nth-of-type(2) {
  position: absolute;
  top: 7px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
  -moz-transform: translate(-50%, 0) rotate(0deg);
  -ms-transform: translate(-50%, 0) rotate(0deg);
  -o-transform: translate(-50%, 0) rotate(0deg);
  transform: translate(-50%, 0) rotate(0deg);
}
.mob-menu span:nth-of-type(3) {
  position: absolute;
  top: 14px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
  -moz-transform: translate(-50%, 0) rotate(0deg);
  -ms-transform: translate(-50%, 0) rotate(0deg);
  -o-transform: translate(-50%, 0) rotate(0deg);
  transform: translate(-50%, 0) rotate(0deg);
}
.mob-menu:hover span:nth-of-type(1) {
  top: 2px;
}
.mob-menu:hover span:nth-of-type(3) {
  top: 12px;
}
.mob-menu--active span:nth-of-type(1) {
  top: 6px;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
  -moz-transform: translate(-50%, 0) rotate(0deg);
  -ms-transform: translate(-50%, 0) rotate(0deg);
  -o-transform: translate(-50%, 0) rotate(0deg);
  transform: translate(-50%, 0) rotate(46deg);
}
.mob-menu--active span:nth-of-type(2) {
  opacity: 0;
}
.mob-menu--active span:nth-of-type(3) {
  top: 6px;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
  -moz-transform: translate(-50%, 0) rotate(0deg);
  -ms-transform: translate(-50%, 0) rotate(0deg);
  -o-transform: translate(-50%, 0) rotate(0deg);
  transform: translate(-50%, 0) rotate(-46deg);
}
.mob-menu--active:hover span:nth-of-type(1),
.mob-menu--active:hover span:nth-of-type(3) {
  top: 6px;
}
.city-lines {
  opacity: 0;
  height: 0px;
  position: absolute;
  top: 24px;
  padding: 2px 10px;
  left: -7px;
}
.city-lines a {
  color: #515151;
}
.main-filtr {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  width: 1110px;
  margin: 0 auto;
}
.filtr {
  background-color: #fff;
  padding: 22px 25px 25px 25px;
  box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.31);
}
.filtr-up {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Kurale';
  text-align: center;
  margin-bottom: 22px;
}
.filtr-bot {
  display: block;
}
.filtr-bot .btn {
  height: 40px;
}
.filtr-right {
  float: right;
  text-decoration: underline;
}
.filtr-right input {
  border: 1px solid #cfd8dc;
  text-indent: 30px;
  height: 27px;
  width: 200px;
  font-size: 13px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left 5px top 5px;
}
.filtr-select {
  border: 1px solid #ed2026;
  float: left;
  width: 23.75%;
  margin-right: 2.2%;
  height: 39px;
  box-sizing: border-box;
  line-height: 39px;
  text-indent: 20px;
  text-align: left;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 8px center;
  position: relative;
  background-color: #fff;
}
.filtr-select:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.filtr-select:after {
  content: "";
  position: absolute;
  top: 16px;
  right: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: #ed1c24 transparent transparent transparent;
}
.filtr-select--active {
  background-color: #f3f3f3;
}
.filtr-select--active .filtr-option {
  max-height: 260px;
  opacity: 1;
  z-index: 1;
  padding: 10px 20px;
  border: 1px solid #ed2026;
}
.filtr-option {
  width: 290px;
  transition: opacity 0.2s linear;
  max-height: 0px;
  position: absolute;
  top: 37px;
  left: -1px;
  opacity: 0;
  background-color: #fff;
  overflow: hidden;
}
.filtr-option__heading {
  border-bottom: 1px solid #ed1c24;
  height: 24px;
  line-height: 24px;
  text-indent: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.filtr-option__item {
  display: block;
  margin-bottom: 3px;
  width: 145px;
  text-indent: 0px;
  float: left;
  height: 20px;
  font-size: 14px;
  color: #515151;
  line-height: 20px;
}
.filtr-option__item:hover {
  text-decoration: underline;
}
.unfilter .filtr-select{
  border:1px solid #ccc;
}
.filtr-search {
  width: 22.1%;
}
.filtr-area {
  overflow: hidden;
  height: 36px;
}
.filtr-area--active {
  height: auto;
  overflow: visible;
}
.top-up {
  overflow: hidden;
  margin-bottom: 20px;
}
.top-up__heading {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  float: left;
  color: #111;
  text-transform: uppercase;
  font-family: 'Kurale';
}
.top-up__heading span {
  color: #ef3c29;
}
.top-up .link {
  float: right;
  color: #717171;
  text-decoration: underline;
  margin-top: 12px;
}
.top-up .link:hover {
  color: #f11923;
}
.new-ul {
  overflow: hidden;
  margin-bottom: 35px;
  margin-right: -15px;
}
.new-ul li {
  float: left;
  width: 25%;
}
.t-zaved {
  border: 1px solid #e0e7ee;
  padding: 12px 14px;
  background-color: #fff;
  min-height: 126px;
}
.t-zaved__type {
  display: block;
  margin-bottom: 5px;
  color: #8f8f8f;
  line-height: 16px;
  font-family: 'Kurale';
}
.t-zaved__heading {
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
  font-family: 'Kurale';
  height: 51px;
  overflow: hidden;
}
.new-zaved {
  display: block;
  margin-right: 15px;
  position: relative;
  margin-left: 2px;
  margin-bottom: 10px;
}
.new-zaved__img {
  display: block;
  overflow: hidden;
}
.new-zaved__img img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.new-zaved:hover .new-zaved__img img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
.new-zaved__heading {
  display: block;
  margin-bottom: 10px;
}
.new-zaved:hover .t-zaved {
  border: 1px solid #f58564;
}
.new-zaved:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
}
.new-zaved:hover .btn {
  background-color: #e31b24;
  color: #fff;
}
.events {
  padding: 35px 0;
  background-color: #f3f3f3;
}
.event-c {
  font-size: 0;
}
.event-c > div {
  display: inline-block;
  width: 25%;
}
.event-part {
  display: block;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  background-color:#000;
}
.event-part:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
.event-part:hover .btn {
  background-color: #ed2026;
}
.event-part__inside {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  border: 1px solid #ce2125;
  border-bottom: none;
  overflow: hidden;
}
.event-part img {
  width: 100%;
  display: block;
  opacity: 0.5;
}
.event-part .btn {
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -52px;
  z-index: 2;
  padding: 6px 16px;
  font-size: 15px;
  background-color: transparent;
  color: #fff;
}
.event-part .btn:after {
  content: "";
  left: -53px;
  width: 20px;
  top: 20px;
  height: 1px;
  width: 46px;
  background-color: #ce2125;
  position: absolute;
}
.event-part .btn:before {
  content: "";
  left: 112px;
  width: 20px;
  top: 20px;
  height: 1px;
  width: 82px;
  background-color: #ce2125;
  position: absolute;
}
.event-text {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 0;
  overflow: hidden;
}
.event-text__date {
  color: #fff;
  font-size: 42px;
  text-align: center;
  display: block;
  padding: 20px;
}
.event-text__heading {
  color: #fff;
  font-size: 25px;
  padding: 0 20px;
  text-align: center;
  display: block;
}
.arrows {
  float: right;
  display:none;
}
.arrows__item {
  font-size: 21px;
  margin-left: 10px;
}
.where {
  padding: 30px 0;
}
.w-slider {
  margin-left: 0px;
  margin-right: -25px;
  font-size: 0;
}
.w-slider__li {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
}
.where-item {
  margin-right: 25px;
  margin-bottom:25px;
  display: block;
  position: relative;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.where-item:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid red;
}
.where-item img {
  display: block;
  width: 100%;
}
.where-item__icon {
  position: absolute;
  top: 90px;
  left: 50px;
  width: 106px;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  background-image: url(../img/dr-icon.png);
}
.where--hookah .where-item__icon{
    background-image: url(../img/w-caliyan.png);
    width: 80px;
    margin-left: -40px; 
}
.where--dance .where-item__icon{
  background-image: url(../img/w-dance.png);
  width: 91px;
  height: 110px;
  margin-left: -40px;
} 
.where-item__text {
  position: absolute;
  top: 214px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  left: 60px;
  right: 60px;
  text-align: center;
}
.where-item .btn {
  position: absolute;
  top: 301px;
  left: 50%;
  margin-left: -66px;
  font-size: 15px;
  background-color: transparent;
  color: #fff;
}
.where-item:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.where-item:hover .btn{
  background-color:red;
}
.news {
  background-image: url(../img/news-bg.jpg);
  height: 360px;
  padding: 45px 0;
  margin-bottom: 30px;
}
.about-des {
  margin-bottom: 40px;
}
.about-des p {
  margin-bottom: 5px;
}
.about-text {
  overflow: hidden;
  margin-top: 22px;
}
.about-text__img {
  float: left;
  width: 99px;
}
.about-text__info {
  margin-left: 135px;
}
.stars {
  background-image: url(../img/stars.png);
  width: 155px;
  height: 24px;
}
.search-heading {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.search-type {
  overflow: hidden;
  margin-bottom: 6px;
  margin-top: -5px;
}
.search-type__left {
  float: left;
}
.search-type__item {
  display: inline-block;
  line-height: 22px;
  font-size: 15px;
  margin-right: 20px;
  color: #918f8c;
  margin-top: 5px;
  position: relative;
}
.search-type__item:after {
  cursor: pointer;
}
.search-type__item:hover {
  text-decoration: underline;
}
.search-type__item--active {
  color: #ed2026;
  margin-right: 25px;
}
.search-type__item--active:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 7px;
  font-size: 13px;
  width: 10px;
  height: 10px;
  background-image: url(../img/arrowdown.svg);
}
.search-type__map {
  float: right;
  background-color: #f5f5f4;
  color: #41403f;
  padding: 5px 11px 5px 30px;
  margin-right: 0;
  margin-top: 0px;
  position: relative;
}
.search-type__map:hover {
  text-decoration: none;
  background-color: #f5eaea;
}
.search-type__map:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 9px;
  background-image: url(../img/map.svg);
  width: 14px;
  height: 14px;
}
/*Страница каталога заведении*/
.under-search {
  background-color: #f5f5f4;
  padding: 25px 0;
  overflow: hidden;
}
.under-search__heading {
  color: #7d7d7d;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
.unfilter {
  margin-bottom: 20px;
}
.unfilter .filtr-select:hover{
  background-color:#fff;
  border:1px solid red;
}
.unfilter:after {
  content: "";
  clear: both;
  display: block;
}
.unfilter__item {
  border: 1px solid #cfd8dc;
  float: left;
  width: 258px;
  margin-right: 18px;
  height: 34px;
  line-height: 34px;
  text-indent: 17px;
  position: relative;
  color: #555;
  background-color: #f3f3f3;
}
.unfilter__item--active {
  background-color: #fff;
}
.unfilter__item:hover {
  background-color: #fff;
  cursor: pointer;
}
.unfilter__item:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: rgba(56, 56, 56, 0.67) transparent transparent transparent;
}
.select-area__heading {
  color: #7d7d7d;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
.select-inputs {
  overflow: hidden;
  margin-bottom: 10px;
}
.select-inputs li {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;
}
.fsearch__input {
  margin-right: 20px;
  padding: 10px 30px;
}
.fsearch__input:hover {
  background-color: #e31b24;
}
.fsearch__clear {
  color: #ef3c29;
  position: relative;
  padding-left: 25px;
}
.fsearch__clear:before {
  content: "";
  width: 11px;
  height: 14px;
  background-image: url(../img/korzina.png);
  position: absolute;
  left: 4px;
  top: 1px;
}
.fsearch__clear:hover {
  text-decoration: underline;
}
.checkbox {
  position: relative;
  border: 1px solid #ccc;
  display: block;
  padding: 0px 10px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
}
.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #000;
}
.checkbox:hover {
  color: #ef3c29;
}
.checkbox--active {
  background-color: #3a3b3d;
  color: #fff;
  border: 1px solid #3a3b3d;
}
.checkbox--active:hover {
  color: #fff;
  border: 1px solid #3a3b3d;
}
.catalog {
  margin-top: 15px;
}
.zaved-ul {
  margin-bottom: 35px;
}
.zaved-ul > li {
  border-top: 1px solid #e0e7ee;
  padding-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.zaved-slider {
  width: 340px;
  float: left;
}
.zaved-slider img {
  width: 100%;
}
.right-info {
  margin-left: 300px;
  overflow: hidden;
}
.zaved-center {
  width: 42%;
  float: left;
}
.zaved-center__inner {
  margin: 0 20px 0 25px;
}
.zaved-center__type {
  color: #4a494a;
  display: block;
  margin-bottom: 5px;
}
.zaved-center__heading {
    color: #515151;
    display: block;
    font-weight: bold;
    font-family: 'Kurale';
    font-size: 26px;
    margin-bottom: 10px;
}
.zaved-center__heading:hover{
  text-decoration:underline;
}
.zaved-center .stars {
  margin-bottom: 20px;
}
.pagination {
  text-align: center;
  display: block;
  margin-bottom: 25px;
}
.pagination li {
  display: inline-block;
  margin-right: 2px;
}
.pagination li a {
  color: #4c4b4c;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 8px;
}
.pagination li:hover a {
  text-decoration: underline;
}
.pagination li.active a {
  color: #9e9d9d;
  background-color: #3a3b3d;
  color: #fff;
}
.mini-info {
  float: left;
  width: 58%;
}
.mini-info__row {
  margin-bottom: 6px;
}
.mini-info__row span {
  font-weight: bold;
  margin-right: 5px;
}
.mini-info__row--last {
  display: none;
}
.feature {
  margin-top: 10px;
  position: relative;
}
.feature:after {
  clear: both;
  content: "";
  display: block;
}
.feature div {
  height: 45px;
  width: 45px;
  float: left;
  margin-right: 10px;
  background-image: url(../img/feature.png);
}
.feature div:hover > .feature-text {
  opacity: 1;
}
.feature div:hover > .feature-text:after {
  opacity: 1;
}
.feature__item--ploshadka {
  background-position: -5px -5px;
}
.feature__item--ploshadka span {
  margin-left: -44px;
}
.feature__item--sports {
  background-position: -60px -5px;
}
.feature__item--sports span {
  margin-left: -58px;
}
.feature__item--dj {
  background-position: -115px -5px;
}
.feature__item--dj span {
  margin-left: 8px;
}
.feature__item--dance {
  background-position: -170px -5px;
}
.feature__item--dance span {
  margin-left: -32px;
}
.feature__item--vip {
  background-position: -5px -60px;
}
.feature__item--vip span {
  margin-left: -20px;
}
.feature__item--show {
  background-position: -60px -60px;
}
.feature__item--show span {
  margin-left: -32px;
}
.feature__item--wifi {
  background-position: -115px -60px;
}
.feature__item--wifi span {
  margin-left: -2px;
}
.feature__item--wifi {
  background-position: -115px -60px;
}
.feature__item--wifi span {
  margin-left: -2px;
}
.feature__item--vid {
  background-position: -170px -60px;
}
.feature__item--vid span {
  margin-left: -39px;
}
.feature__item--live {
  background-position: -5px -115px;
}
.feature__item--live span {
  margin-left: -39px;
}
.feature__item--child {
  background-position: -60px -115px;
}
.feature__item--child span {
  margin-left: -39px;
}
.feature__item--topchan {
  background-position: -115px -115px;
}
.feature__item--topchan span {
  margin-left: -39px;
}
.feature__item--kamin {
  background-position: -170px -115px;
}
.feature__item--kamin span {
  margin-left: -39px;
}
.feature__item--kalyan {
  background-position: -5px -170px;
}
.feature__item--kalyan span {
  margin-left: -39px;
}
.feature__item--24 {
  background-position: -60px -170px;
}
.feature__item--24 span {
  margin-left: -39px;
}
.feature__item--panorama {
  background-position: -115px -170px;
}
.feature__item--panorama span {
  margin-left: -39px;
}
.feature-text {
  position: absolute;
  top: -31px;
  background-color: #fff;
  padding: 3px 8px;
  background-color: #000;
  color: #fff;
  opacity: 0;
}
.feature-text:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  bottom: -6px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-slide img {
  width: 100%;
  display: block;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slick theme */
.slick-loading .slick-list {
  background: #fff url(../img/ajax-loader.gif) center center no-repeat;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  outline: none;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mini-slider .slick-prev,
.big-slider .slick-prev,
.zaved-slider .slick-prev {
  background-color: #fff;
  left: 5px;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.mini-slider .slick-next,
.big-slider .slick-next,
.zaved-slider .slick-next {
  background-color: #fff;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.mini-slider .slick-next {
  right: 18px;
}
.big-slider .slick-next:hover,
.big-slider .slick-prev:hover,
.zaved-slider .slick-next:hover,
.zaved-slider .slick-prev:hover {
  opacity: 1;
}
.slick-prev {
  background-image: url(../img/left-arrow.svg);
}
.slick-next {
  background-image: url(../img/right-arrow.svg);
}
.w-slider .slick-prev {
  left: -25px;
  background-size: cover;
}
.w-slider .slick-next {
  right: -10px;
  background-size: cover;
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
/*Конец каталога заведении*/
/*Начало заведении*/
.breadcrumbs {
  overflow: hidden;
  height: 50px;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs li:after {
  content: "-";
  padding: 0 7px;
}
.breadcrumbs li a,
.breadcrumbs li span {
  line-height: 50px;
  color: #7b7b7b;
}
.breadcrumbs li a {
  text-decoration: underline;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.zaved-part {
  border: 1px solid #e0e7ee;
  padding: 25px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.zaved-book {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}
.zaved-book__button {
  display: inline-block;
  margin-right: 25px;
}
.zaved-book__map {
  text-decoration: underline;
}
.zaved-up {
  overflow: hidden;
  margin-bottom: 15px;
  height: 42px;
}
.zaved-up__heading {
  float: left;
  font-size: 38px;
  line-height: 38px;
  color: #000;
  font-family: "Kurale";
  text-transform: uppercase;
  display: block;
  margin-right: 20px;
}
.zaved-up .stars {
  float: right;
  margin-right: 20px;
  margin-top:2px;
}
.zaved-up__ocenky {
  float: right;
  display: block;
  text-decoration: underline;
  color: #ce2125;
  margin-top: 2px;
}
.zaved-second {
  margin-bottom: 20px;
}
.zaved-info {
  overflow: hidden;
}
.zaved-info__left {
  float: left;
  width: 67.5%;
}
.zaved-info__right {
  width: 32.5%;
  float: right;
}
.zaved-info__right .wr {
  margin-left: 26px;
  border-left: 1px solid #e0e7ee;
  border-right: 1px solid #e0e7ee;
}
.big-slider {
  margin-bottom: 15px;
}
.big-slider .slick-slide img {
  width: 100%;
}
.zav-events {
  padding: 0px 25px;
  margin-bottom: 25px;
}
.zav-events .event-part {
  margin-right: 0;
}
.zav-news {
  background-color: #f3f3f3;
  padding: 25px;
}
.zav-news .new-zaved {
  margin-right: 0;
}
.top-zav {
  margin-bottom: 15px;
}
.top-zav__heading {
  font-size: 20px;
  color: #4f5861;
  text-transform: uppercase;
}
.zaved-in {
  border-bottom: 1px solid #e9e9e7;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.mini-slider {
  margin-bottom: 25px;
  margin-right: -13px;
}
.mini-slider .slick-slide {
  margin-right: 15px;
}
.mini-slider .slick-slide img {
  display: block;
  width: 100%;
}
.zaved-rows:after {
  content: "";
  clear: both;
  display: block;
}
.zaved-rows > li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}
.character__heading {
    color: #111;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-family: "Kurale";
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}
.character .feature {
  margin-top: 6px;
}
.zav-up {
  overflow: hidden;
  margin-bottom: 20px;
}
.zav-up__heading {
  text-transform: uppercase;
  font-size: 24px;
  float: left;
}
.zav-up__heading span {
  color: #ef3c29;
}
.cont-zaved {
  background-color: #fff;
  margin-bottom: 25px;
}
.cont-zaved__map {
  background-image: url(../img/map.jpg);
  width: 100%;
  height: 170px;
}
.cont-info {
  padding: 20px 25px;
}
.cont-info__row {
  display: block;
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
  line-height: 26px;
  font-size: 18px;
}
.cont-info__row:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 26px;
}
.cont-info__row--adress:before{
  background-image: url(../img/c-map.png);
}
.cont-info__row--clock:before{
  background-image: url(../img/clock.jpg);
  height: 20px;
  top: 5px;
}
.cont-info__row--phone:before{
  background-image: url(../img/c-phone.jpg);
  height:23px;
}
.cont-info__row--phone{
  margin-bottom:0;
}
.cont-bot {
  border-top: 1px solid #e0e7ee;
  border-bottom: 1px solid #e0e7ee;
  padding: 20px 25px;
  text-align: center;
}
.link {
  float: right;
  color: #717272;
  text-decoration: underline;
}
.zav-des {
  border-bottom: 1px solid #e0e7ee;
  margin-bottom: 25px;
}
.zav-content {
  overflow: hidden;
  padding-bottom: 15px;
  margin-top: -5px;
}
.zav-content p {
  margin-bottom: 10px;
}
.nzav-ul {
  overflow: hidden;
  margin-bottom: 25px;
}
.nzav-ul li {
  float: left;
  width: 50%;
}
.nzav-ul li:nth-child(2n) .news-inner {
  margin-right: 0;
  margin-left: 10px;
}
.nmini {
  margin-left: 202px;
}
.nmini__heading {
  color: #4e4d4b;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  display: block;
  margin-bottom: 7px;
}
.nmini__heading:hover {
  color: #ef3c29;
  text-decoration: underline;
}
.nmini__date {
  display: block;
  color: #a5a4a2;
  margin-bottom: 6px;
}
.nmini p {
  color: #73726f;
  height: 50px;
  overflow: hidden;
}
.news-inner {
  margin-right: 10px;
  overflow: hidden;
}
.zav-news {
  border-bottom: 1px solid #e0e7ee;
  margin-bottom: 25px;
}
.img-news {
  float: left;
  display: block;
  width: 190px;
  margin-right: 12px;
  overflow: hidden;
}
.img-news img {
  display: block;
  width: 100%;
}
.more-btn {
  margin-top: 12px;
}
.map {
  width: 100%;
  height: 400px;
}
.zav-menu {
  text-align: center;
  margin-bottom: 20px;
}
.zav-menu__item {
  display: inline-block;
  border: 1px solid #e0e7ee;
  padding: 6px 12px;
  margin: 0 5px;
}
.zav-menu__item a {
  color: #565453;
  font-weight: bold;
}
.zav-menu__item:hover {
  background-color: #f3f3f3;
}
.zav-menu__item--active {
  background-color: #ed2026;
  border: 1px solid #ed2026;
  color: #fff;
}
.zav-menu__item--active a {
  color: #fff;
}
.zav-menu__item--active:hover {
  background-color: #ed2026;
  border: 1px solid #ed2026;
}
.bluda-ul {
  overflow: hidden;
}
.bluda-ul li {
  margin-bottom: 15px;
}
.bluda-ul li img {
  display: block;
  width: 100%;
}
/*Конец заведении*/
.adding {
  background-color: #fff;
}
.adding-part {
  display: block;
  padding: 25px;
  background-color: #fff;
}
.adding-part__input::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.adding-part__input::-moz-placeholder {
  color: #333;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.adding-part__input:-moz-placeholder {
  color: #333;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.adding-part__input:-ms-input-placeholder {
  color: #333;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.adding-part__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.adding-part__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.adding-part__input:focys:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.adding-part__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.adding-part__heading {
  margin-bottom: 22px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}
.adding-part__input {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  margin-bottom: 14px;
  box-sizing: border-box;
  padding: 0 10px;
}
.adding-part__submit {
  background-color: #f11923;
  color: #fff;
  height: 34px;
  border: none;
  width: 180px;
  display: block;
  margin: 10px auto 0 auto;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.adding-part__submit:hover {
  background-color: #e31b24;
}
.reccoments {
  background-color: #f3f3f3;
  padding: 25px 0;
}
/*страница подборок*/
.podborka {
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #e0e7ee;
  display: block;
  padding: 30px 10px;
}
.podborka:hover {
  background-color: #f3f3f3;
}
.podborka__img {
  display: block;
  margin: 0 auto 15px auto;
}
.podborka__text {
  color: #4a494a;
  font-size: 15px;
  display: block;
  text-align: center;
  height: 30px;
}
/*конец подборок*/
/*события*/
.events-filter {
  overflow: hidden;
  margin-bottom: 25px;
}
.events-filter__item {
  float: left;
  margin-right: 15px;
  font-size: 16px;
  border: 1px solid #e9e9e7;
  padding: 5px 15px;
  color: #515151;
}
.events-filter__item--calendar {
  background-position: right 8px top 7px;
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-size: 16px;
}
.events-filter__item:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.events-filter .right-search {
  margin-top: 0;
}
.big-ul {
  border: 1px solid #e0e7ee;
  margin-bottom: 25px;
}
.big-ul li {
  border-bottom: 1px solid #e0e7ee;
}
.big-ul li:last-child {
  border-bottom: none;
}
.big-event {
  margin-left: 140px;
  overflow: hidden;
  position: relative;
}
.item-date {
  float: left;
  width: 14%;
  margin-right: 4%;
  margin-top: 26px;
}
.item-date__time {
  color: #f11923;
  font-size: 30px;
  display: block;
}
.item-date__text {
  color: #f11923;
  font-size: 15px;
}
/*события конец*/
/*бронирование начало*/
.booking {
  width: 750px;
  background-color: #fff;
}
.booking-part {
  padding: 25px;
}
.book-up {
  overflow: hidden;
  margin-bottom: 20px;
}
.book-up__heading {
  float: left;
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}
.book-tel {
  float: right;
  position: relative;
}
.book-tel__text {
  display: block;
  color: #84827f;
  margin-bottom: 2px;
}
.book-tel__number {
  text-align: right;
  display: block;
  font-size: 16px;
}
.book-tel__number span {
  color: #ef3c29;
  font-weight: bold;
  font-size: 18px;
}
.book-tel:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -38px;
  width: 30px;
  height: 32px;
  background-image: url(../img/phone.jpg);
}
.ov {
  overflow: hidden;
}
.book-left {
  float: left;
  width: 55%;
}
.book-left__inner {
  margin-right: 30px;
  margin-top: 22px;
}
.book-left__input {
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 14px;
  text-indent: 10px;
  border: 1px solid #c4d4d9;
}
.book-row {
  margin-bottom: 14px;
}
.book-row__text {
  display: block;
  margin-bottom: 4px;
  font-size: 15px;
  color: #5f5d5a;
}
.book-row__select {
  border: 1px solid #c4d4d9;
  height: 32px;
  width: 80px;
  text-indent: 10px;
  text-align: center;
}
.book-row__datepicker {
  height: 32px;
  width: 140px;
  box-sizing: border-box;
  margin-bottom: 3px;
  text-indent: 10px;
  border: 1px solid #c4d4d9;
}
.pnumber {
  position: relative;
  width: 120px;
}
.pnumber__input {
  width: 60px;
  margin-left: 29px;
  border: 1px solid #c4d4d9;
  height: 30px;
  padding: 0px;
  text-align: center;
}
.pnumber__add {
  position: absolute;
  border: 1px solid #c4d4d9;
  top: 0;
  width: 28px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
}
.pnumber__add:hover {
  background-color: #f3f3f3;
}
.pnumber__add--plus {
  right: 0;
}
.pnumber__add--left {
  left: 0;
}
.book-right {
  float: left;
  width: 45%;
}
.book-time {
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
}
.book-time__item {
  float: left;
  display: inline-block;
  position: relative;
  background-color: #f3f3f3;
  padding: 5px 7px;
  margin-right: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.book-time__item:hover {
  background-color: #bdbdbd;
}
.book-time__item:nth-child(5n) {
  margin-right: 0;
}
.book-time__item input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.book-time__item span {
  font-size: 15px;
  color: #5f5d5a;
}
.book-time__item--active {
  background-color: #3a3b3d;
}
.book-time__item--active span {
  color: #fff;
}
.book-comment {
  width: 100%;
  border: 1px solid #c4d4d9;
  height: 40px;
  resize: none;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  box-sizing: border-box;
}
.booking-but {
  display: block;
  width: 180px;
  border: none;
  margin: 0 auto;
}
/*бронированеи конец*/
/*Отзывы начало*/
.other-part {
  border-top: 1px solid #e0e7ee;
  margin-top: 10px;
  padding-top: 25px;
}
.other-part--events {
  margin-bottom: -51px;
}
.other-part--news {
  margin-bottom: -20px;
}
.otzyv-ul li {
  padding-bottom: 15px;
  border-bottom: 1px solid #e9e9e7;
  margin-bottom: 15px;
  overflow: hidden;
}
.otzyv-ul li:last-child{
  margin-bottom:0;
  border-bottom:none;
  padding-bottom:0;
}
.otzyv-left {
  float: left;
  width: 150px;
  margin-right: 15px;
}
.otzyv-left__login {
  font-weight: bold;
  font-size: 18px;
  color: #ef3c29;
  display: block;
  margin-bottom: 3px;
}
.otzyv-left__date {
  display: block;
  font-size: 16px;
  margin-bottom: 7px;
}
.otzyv-right {
  margin-left: 160px;
}
.add-comment {
  margin-bottom: 25px;
}
.add-comment__heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  display: block;
  font-family: 'Kurale';
  margin-bottom: 15px;
}
.add-comment__input {
  border: 1px solid #c4d4d9;
  height: 34px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.add-comment__textarea {
  border: 1px solid #c4d4d9;
  height: 80px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 12px;
}
.add-comment__btn {
  border: none;
}
.add-item {
  overflow: hidden;
}
.add-item__row {
  float: left;
  width: 50%;
}
.add-item__row div:first-child {
  margin-right: 15px;
}
.add-item__row div:second-child {
  margin-left: 15px;
}
/*Отзывы конец*/
/*Футер*/
.footer {
  background-color: #282828;
  padding: 25px 0;
  overflow: hidden;
}
.f-row {
  float: left;
  margin-right: 75px;
  color: #fff;
}
.f-row__heading {
  font-size: 18px;
  display: block;
  margin-bottom: 12px;
}
.f-row--second {
  margin-right: 30px;
}
.f-ul {
  margin-bottom: -5px;
  overflow: hidden;
}
.f-ul a {
  margin-bottom: 5px;
  color: #d3d2d2;
  display: block;
  cursor: pointer;
}
.f-ul a:hover {
  text-decoration: underline;
}
.f-ul--second {
  width: 400px;
}
.f-ul--second a {
  float: left;
  width: 130px;
}
.footer-right {
  float: right;
  color: #d3d2d2;
  text-align: right;
  margin-top: 50px;
}
.footer-right__text {
  display: block;
  margin-bottom: 5px;
}
.created {
  color: #d3d2d2;
}
.created span {
  text-decoration: underline;
}
.created span:hover {
  color: #fff;
}
.instagram {
  padding: 10px 0;
  position: relative;
}
.instagram__text {
  float: left;
  color: #515151;
  font-size: 16px;
  display: block;
  margin-top: 15px;
  margin-left: 150px;
}
.main-slider .slick-prev,.main-slider .slick-next{
  display:none;
}
.instagram__text span {
  color: #ce2125;
}
.instagram:after {
  content: "";
  clear: both;
  display: block;
}
.ints-inner {
  position: relative;
}
.ints-inner__close {
  content: "";
  left: -40px;
  top: 10px;
  border: 1px solid #ccc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/cross.svg);
}
.ints-inner:before:hover {
  background-color: #f3f3f3;
}
.ints-inner:after {
  content: "";
  position: absolute;
  right: -20px;
  top: -167px;
  background-image: url(../img/ruka.png);
  width: 162px;
  height: 225px;
}
.ints-inner--none{
  display:none;
}
/*@media screen and (max-width: 1140px) {
  .inner {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
  .f-row--third {
    display: none;
  }
  .f-row {
    margin-right: 40px;
  }
  .right-search--search input {
    display: none;
  }
  .character__heading {
    font-size: 20px;
    line-height: 20px;
  }
  .zaved-center__inner {
    margin: 0 20px 0 18px;
  }
  .select-inputs li {
    margin-right: 2.2%;
  }
}
@media screen and (max-width: 920px) {
  .top-part {
    margin-top: 50px;
  }
  .right-search {
    display: none;
  }
  .mob-menu {
    display: block;
    margin-left: 20px;
  }
  .filtr-select {
    width: 31.3%;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  .filtr-select:nth-child(3) {
    margin-right: 0;
  }
  .filtr-option {
    right: -1px;
    width: auto;
  }
  .filtr-option__heading {
    display: none;
  }
  .unfilter {
    margin-bottom: 0;
  }
  .filtr-search {
    width: 250px;
  }
  .zaved-part {
    border: none;
    padding: 0px;
  }
  .zaved-center {
    width: 100%;
  }
  .zaved-center__inner {
    margin: 0;
  }
  .right-info {
    position: relative;
    margin-left: 320px;
  }
  .zaved-center .stars {
    margin-bottom: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .zaved-center .btn,
  .zaved-center__type {
    display: none;
  }
  .zaved-center .stars {
    position: absolute;
    right: 0;
    top: 5px;
  }
  .mini-info {
    float: none;
    width: 100%;
  }
  .right-info {
    overflow: visible;
  }
  .feature-text {
    display: none;
  }
  .news-list li {
    width: 33.3%;
  }
  .zaved-news {
    margin-left: 20px;
  }
  .new-ul li {
    width: 33.3%;
  }
  .new-ul li:last-child {
    display: none;
  }
  .nmini__heading {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 7px;
    margin-top: -2px;
  }
  .img-news {
    width: 175px;
  }
  .nmini {
    margin-left: 184px;
  }
  .nmini__date {
    font-size: 12px;
  }
  .catalog {
    margin-top: 0px;
  }
  .f-row--second {
    display: none;
  }
  .header-bot {
    position: absolute;
    right: -200px;
    width: 200px;
    background-color: #2f3232;
    height: 100%;
    z-index: 2;
    top: 0;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  .header-bot--active {
    right: 0;
  }
  .zaved-nav {
    margin-top: 60px;
  }
  .zaved-nav__li {
    float: none;
    margin-bottom: 6px;
  }
  .item-date {
    width: 22%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 780px) {
  .top-part .main-text__info,
  .city .active {
    font-size: 30px;
    line-height: 30px;
  }
  .zaved-center .stars {
    position: static;
    margin-bottom: 6px;
  }
  .zaved-center__heading {
    margin-bottom: 6px;
  }
  .mini-info__row {
    margin-bottom: 3px;
  }
  .zaved-rating__ocenka,
  .zaved-rating__numbers,
  .zaved-rating__otzyv {
    display: none;
  }
  .nav-zaved {
    display: none;
  }
  .mini-slider {
    display: none;
  }
  .nzav-ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  .news-inner,
  .nzav-ul li:nth-child(2n) .news-inner {
    margin: 0;
  }
  .nzav-ul {
    margin-bottom: 15px;
  }
  .filtr-area {
    height: auto;
    overflow: visible;
  }
  .filtr-area .filtr-select {
    width: 48.5%;
    margin-right: 1.5%;
    margin-bottom: 15px;
  }
  .filtr-area .filtr-select:nth-child(2n) {
    margin-left: 1.5%;
    margin-right: 0;
  }
  .filtr-search {
    width: 48.5%;
    margin-left: 1.5%;
  }
  .top-part .main-text {
    margin-bottom: 12px;
  }
  .top-part__minitext {
    margin-bottom: 10px;
  }
  .item-date {
    width: 90px;
    position: absolute;
    right: 0;
    margin-right: 0;
  }
  .booking {
    margin: 0 auto;
    width: 100%;
  }
  .book-left__inner {
    margin: 0;
  }
  .book-left,
  .book-right {
    width: 100%;
    float: none;
    position: relative;
  }
  .book-time {
    margin-bottom: 5px;
    margin-top: 18px;
  }
  .book-row--date {
    position: absolute;
    top: -72px;
    left: 155px;
  }
}
@media screen and (max-width: 650px) {
  .top-part .main-text__info,
  .city .active {
    font-size: 24px;
    line-height: 24px;
    font-family: 'MyriadPro-semi';
  }
  .filtr-select {
    width: 100%;
  }
  .top-part .main-text {
    margin-bottom: 5px;
  }
  .top-part__minitext {
    display: none;
  }
  .city {
    padding-left: 10px;
  }
  .city:after {
    top: 12px;
  }
  .zaved-slider {
    float: none;
    width: 100%;
  }
  .right-info {
    margin-left: 0;
    margin-top: 10px;
  }
  .new-ul li {
    width: 50%;
    margin-bottom: 15px;
  }
  .new-ul li:last-child {
    display: block;
  }
  .new-ul {
    margin-bottom: 20px;
  }
  .top-up {
    margin-bottom: 15px;
  }
  .top-up__heading {
    font-size: 21px;
  }
  .top-up .link {
    margin-top: 6px;
  }
  .menu {
    display: none;
  }
  .news-list li {
    width: 50%;
  }
  .zaved-rows > li {
    width: 100%;
  }
  .character__heading {
    margin-bottom: 3px;
  }
  .zaved-book__map {
    display: none;
  }
  .zaved-book__map:hover {
    color: #ed2026;
  }
  .filtr-ul li {
    display: none;
  }
  .filtr-ul li.active {
    display: block;
  }
  .filtr-ul li.active > a {
    background-color: #fff;
    color: #515151;
  }
  .others {
    display: none;
  }
  .breadcrumbs li:after {
    content: "-";
    padding: 0 5px;
  }
  .search-type__left {
    width: 120px;
    border: 1px solid #ccc;
    padding: 2px 10px;
    position: relative;
    cursor: pointer;
  }
  .search-type__left .search-type__item {
    font-size: 14px;
    margin-right: 0;
  }
  .search-type__left:hover {
    background-color: #f3f3f3;
  }
  .search-type__left .search-type__item--active {
    display: block;
    color: #494848;
  }
  .search-type__left:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 8px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: rgba(56, 56, 56, 0.67) transparent transparent transparent;
  }
  .search-type__left--acitve:hover {
    background-color: #fff;
  }
  .search-type__left--acitve .search-type__item {
    display: block;
    text-decoration: underline;
  }
  .search-type__left--acitve .search-type__item--active {
    text-decoration: none;
  }
  .search-type__item {
    display: none;
    margin-top: 0;
  }
  .search-type__item:after {
    display: none;
  }
  .link {
    display: none;
  }
  .zaved-rating .stars {
    position: absolute;
    top: 34px;
    left: 0;
    margin-left: 0;
  }
  .zaved-book {
    overflow: hidden;
    position: absolute;
    bottom: -73px;
    right: 0px;
  }
  .zaved-book__button {
    margin-right: 0;
    padding: 7px 15px;
  }
  .map {
    height: 320px;
  }
  .item-date__time {
    display: none;
  }
  .item-date {
    left: 0;
    margin-top: 0;
    top: 22px;
  }
  .otzyv-left {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .otzyv-right {
    margin-left: 0;
  }
  .book-tel {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .city-select {
    display: none;
  }
  .filtr-area .filtr-select {
    width: 100%;
    margin-right: 0;
  }
  .filtr-area .filtr-select:nth-child(2n) {
    margin-left: 0;
  }
  .filtr-search {
    width: 250px;
    margin: 0 auto;
    display: block;
  }
  .top-part .main-text__heading {
    float: none;
    margin-bottom: 6px;
  }
  .city {
    float: none;
    padding-left: 22px;
  }
  .select-area {
    display: none;
  }
  .fsearch__clear {
    display: none;
  }
  .fsearch__input {
    display: block;
    width: 240px;
    margin: 0 auto;
  }
  .news-list li {
    width: 100%;
  }
  .f-row {
    display: none;
  }
  .footer-right {
    display: block;
    text-align: center;
    float: none;
    margin-top: 0;
  }
  .map {
    height: 300px;
  }
  .about-des {
    display: none;
  }
  .big-event {
    margin-left: 130px;
  }
  .footer {
    padding: 15px 0;
  }
  .fancybox-skin {
    padding: 0;
  }
  .booking-part {
    padding: 15px;
  }
  .book-row__text {
    font-size: 14px;
  }
  .book-row--date {
    top: -71px;
    left: 145px;
  }
  .book-up__heading {
    font-size: 22px;
  }
}
@media screen and (max-width: 420px) {
  .filtr-search {
    width: 100%;
    max-width: 250px;
  }
  .new-ul li {
    width: 100%;
  }
  .img-news {
    width: 150px;
  }
  .nmini {
    margin-left: 165px;
  }
  .nmini__date {
    display: none;
  }
  .zaved-up__info {
    margin-left: 0;
  }
  .upzaved-text {
    height: auto;
  }
  .zaved-book {
    position: static;
  }
  .zav-des {
    display: none;
  }
  .nmini__heading {
    font-size: 15px;
    line-height: 17px;
  }
  .map {
    height: 270px;
  }
  .zaved-menu {
    display: none;
  }
  .gallery-ul li {
    width: 50%;
  }
  .book-row--date {
    position: static;
  }
  .book-row__datepicker {
    width: 100%;
  }
  .book-comment {
    display: none;
  }
  .pnumber {
    width: 100%;
  }
  .pnumber__input {
    width: 80%;
    margin-left: 10%;
    border-left: none;
    border-right: none;
  }
  .book-up__heading {
    font-size: 18px;
  }
  .zaved-rows > li {
    margin-bottom: 8px;
  }
  .events-filter__item--hot {
    display: none;
  }
  .character__heading {
    font-size: 18px;
  }
  .item-date {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .inner {
    margin-right: 10px;
    margin-left: 10px;
  }
  .filtr {
    padding: 16px 18px 16px 18px;
  }
  .top-part .main-text__info,
  .city .active {
    font-size: 20px;
    line-height: 20px;
  }
  .img-news {
    width: 100%;
    display: block;
    float: none;
  }
  .img-news img {
    max-width: 190px;
    margin: 0 auto;
  }
  .nzav-ul li {
    width: auto;
    border: 1px solid #e0e7ee;
    padding: 15px;
  }
  .img-news {
    margin-bottom: 12px;
  }
  .nmini {
    text-align: center;
    margin-left: 0;
  }
  .nmini p {
    height: auto;
  }
  .map {
    height: 250px;
  }
}
*/