@line-height: 1.5;
@font-size: 14px;
@menu-color: #020000;
@font-red: #ef3c29;
@font-color: #494848;

body{
  font-family:'MyriadPro',Arial,Helvetica,sans-serif;
  color:@font-color;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: local('☺'),
         url('../fonts/MyriadPro-Bold.woff') format('woff'),
         url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-semi';
    src: url('../fonts/MyriadPro-Semibold');
    src: local('☺'),
         url('../fonts/MyriadPro-Semibold.woff') format('woff'),
         url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}